<!DOCTYPE html>
<html lang="fr">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>

            Prestataires
            
        </title>
        {% load static %}
    

    <!-- Bootstrap CSS -->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

<body>
    <!-- Barre de navigation supérieure -->
    <nav class="navbar fixed-top top-navbar">
        <div class="container d-flex justify-content-between align-items-center">
            <div>
                <i class="bi bi-telephone-fill"></i>+237 699 302 713
            </div>
            <div>
                <a class="nav-link text-dark fw-bold" href="{% url 'login' %}" target="_blank" title="MDR">
                    <img src="https://cdn-icons-png.flaticon.com/512/747/747376.png" alt="User" width="25"> 
                    SE CONNECTER
                </a>
            </div>
        </div>
    </nav>

    <!-- Deuxième barre de navigation -->
    <nav class="navbar navbar-expand-lg fixed-top bottom-navbar" style="top: 50px">
        <div class="container d-flex justify-content-between align-items-center">
            <!-- Bouton de menu pour mobile -->
            <button class="navbar-toggler animated-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
    
            <!-- Menu de navigation -->
            <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
                <div id="text-navbar2">
                    <ul class="navbar-nav d-flex justify-content-center align-items-center text-center">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.chanasassurances.com" target="_blank">Acceuil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% static 'pdf/FICHE-MALADIE.pdf' %}" target="_blank">Fiche Maladie</a>
                        </li>
                    </ul>
            </div>
            </div>
        </div>
    </nav>

    <!-- En-tête -->
    <div class="px-4 pt-5 text-center" id="HEAD">
        <a class="navbar-brand" href="https://www.chanasassurances.com">
            <img src="{% static 'img/logo.png' %}" alt="Logo" width="250">
        </a>
        <h1 class="display-4 fw-bold text-body-emphasis">RESEAU DE SOINS</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Vous trouverez dans le tableau la liste de nos prestataires soins au Cameroun et ailleurs.</p>
        </div>
    </div>
    
    <!-- Contenu principal -->
    <div class="container mt-5" id="table">
        <!-- Filtres -->
        <div class="row mb-3 g-3">
            <div class="col-lg-3 col-md-6">
                <label for="filterVille" class="form-label">Filtrer par ville :</label>
                <select id="filterVille" class="form-select">
                    <option value="">Toutes les villes</option>
                    {% for ville in villes_uniques %}
                        <option value="{{ ville }}">{{ ville }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-3 col-md-6">
                <label for="filterType" class="form-label">Filtrer par type :</label>
                <select id="filterType" class="form-select">
                    <option value="">Tous les types</option>
                    {% for type in types_uniques %}
                        <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="col-lg-3 col-md-6">
                <label for="searchInput" class="form-label">Rechercher :</label>
                <input type="text" id="searchInput" class="form-control" placeholder="Rechercher un prestataire..." onkeyup="filterTable()">
            </div>
            
            <div class="col-lg-3 col-md-6">
                <label for="entriesSelect" class="form-label">Afficher :</label>
                <select id="entriesSelect" class="form-select">
                    <option value="5">5</option>
                    <option value="8" selected>8</option>
                    <option value="15">15</option>
                    <option value="25">25</option>
                    <option value="50">30</option>
                </select>
            </div>
        <!-- Tableau des prestataires -->
        
        <div class="table-responsive">
            
        
            <!-- Affichage pour PC/Tablette (tableau classique) -->
            <table class="table table-borderless table-hover table-light ">
                <thead class="table-light text-center">
                    <tr>
                        <th>Nom</th>
                        <th>Ville</th>
                        <th>Type</th>
                        <th>Numéro</th>
                        <th>Localisation</th>
                    </tr>
                </thead>

                <tbody id="prestataireTable">
                    {% for prestataire in prestataires %}
                        <tr>
                            <td>{{ prestataire.nom }}</td>
                            <td class="ville text-center">{{ prestataire.ville }}</td>
                            <td class="type text-center">{{ prestataire.type }}</td>

                            
                            <td class="numero text-center">
                                {% if prestataire.numero != "nan" %}
                                    {{ prestataire.numero }}
                                {% else %}
                                   ~~~~ 
                                {% endif %}
                            </td>
                            

                            <td class="localisation text-center">
                                {% if prestataire.localisation %}
                                <a class="itinéraire" href="{{ prestataire.localisation }}" target="_blank">Voir Itinéraire</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

            
        
            

            <!-- Pagination -->
    <div id="pagination" class="pagination-container"></div>

    <!-- Message d'alerte si aucun résultat -->
    <div id="noResults" class="alert alert-warning text-center" style="display: none;">
        Aucun prestataire trouvé.
    </div>


    


    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <div class="footer" id="ft2">
        ©2025 - CHANASASSURANCES By Antoine Missoup Konga
    </div>
    <style>
        #ft2 {
            margin-top: 20px;
            font-size: 12px;
            color: #2006;
            text-align: center;
            padding-top: 10px;
        }
    </style>
    
</body>
</html>